In [2]:
#sql to pandas
import pandas
from student.models import Grade
from django.db import connection


#for notebook only
from bokeh.charts import show
from bokeh.io import output_notebook

In [3]:
#error on the over (partition part) because OVER() and PARTITION BY() are only for SQL Server
#recent_grades_sql = "SELECT grade_date, subject_id, grade, max(grade_date) OVER (PARTITION BY subject_id) recent_grade FROM student_grade "

recent_grades_sql= "SELECT grade, grade_date, subject_id FROM student_grade WHERE subject_id IN \
              (SELECT subject_id \
               FROM student_grade as s \
               WHERE s.subject_id = s.subject_id \
               ORDER BY grade_date DESC \
               LIMIT 1)"

#SELECT grade, grade_date, subject_id,max(grade_date) over (partition by subject_id) recent_grade_date  FROM student_grade WHERE student_grade.student_id = '%s' " %('50155809', )
df_recent_grades = pandas.read_sql(recent_grades_sql, con=connection)
df_recent_grades

# select year, x,y
# from (
#       select year, x, y, max(year) over(partition by x) max_year
#       from my data
#       )
# where  year = max_year

    grade  grade_date  subject_id
0      78  2015-03-15           1
1      78  2015-04-15           1
2      78  2015-05-15           1
3      78  2015-03-15           1
4      78  2015-04-15           1
5      78  2015-05-15           1
6      78  2015-03-15           1
7      78  2015-04-15           1
8      78  2015-05-15           1
9      78  2015-03-15           1
10     78  2015-04-15           1
11     78  2015-05-15           1

In [7]:
# http://stackoverflow.com/questions/31928075/sqlite-get-winner-of-each-game-rank-over-partition
# SELECT GameID,
#        PlayerID,
#        PlayerName AS Winner,
#        MAX(TotalScore) AS TotalScore
# FROM vScore
# GROUP BY GameID;

student_id=4
recent_grades_sql= "SELECT grade, MAX(grade_date) as grade_date, subject_name \
              FROM student_grade, student_subject \
              WHERE student_id = '%s' AND student_grade.subject_id = student_subject.subject_id \
              GROUP BY student_grade.subject_id"%(student_id)  

df_recent_grades = pandas.read_sql(recent_grades_sql, con=connection)
df_recent_grades
#grades_dict=df_recent_grades.set_index('subject_name').to_dict('index')
#grades_dict

   grade  grade_date    subject_name
0     78  2015-05-15            Math
1     80  2015-05-15         Reading
2     80  2015-05-15         Science
3     73  2015-05-15  Social Studies

In [37]:
grades_dict[2]['grade']

83

In [43]:
for key in grades_dict:
    print grades_dict[key]['grade'], 'updated on', grades_dict[key]['most_recent_grade_date']

78 updated on 2016-05-15
83 updated on 2016-08-16
98 updated on 2016-08-16
62 updated on 2016-05-15